# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
env/
ENV/

# База данных
# *.db
#.sqlite
*.sqlite3
# data/*.db
# data/*.backup

# IDE
.vscode/
.idea/
*.swp
*.swo

# Тестовые файлы
test_*.py
check_*.py
*_test.py

# Логи
*.log

# Переменные окружения
.env
.env.local

# Временные файлы
*.tmp
*.bak